*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header
{
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(7,9,30,.7),rgba(7,9,30,.7)),url(image/background.jpg);
    background-size: 100% 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    overflow: hidden;
}
.navbar
{
    height: 100px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
}
.logo a img
{
    width: 110px;
    margin: 30px;
}
.menubar ul li
{
    padding: 30px 15px;
    display: inline-block;
    text-decoration: none;
}
.menubar ul li a
{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bolder;
}
.menubar ul li::after
{
    content: "";
    width: 0%;
    height: 2px;
    background-color: brown;
    display: block;
    margin: auto;
    transition: .20s ;
}
.menubar ul li:hover::after
{
    width: 100%;
}
.textbox
{
    width: 90%;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white; 
}
.textbox h1
{
    font-size: 20px;
    font-family:  Arial, sans-serif;
}
.course 
{
    width: 80%;
    margin: auto;
    padding-top: 110px;
    height: 450px;   
}
.course h1
{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px ;
}
.course >p
{
    text-align: center;
    font-size: 13px;
    color: rgb(111, 107, 107);
    margin-bottom: 50px ;

}
.course .row
{
    display: flex;
    justify-content: space-evenly;
}
.course .course-col
{
    border-radius: 15px;
    background-color: rgb(246, 221, 221);
    text-align: center;
    padding: 20px 30px ;
    margin-left: 30px ;
    transition: .7s;
}
.course .course-col h2
{
    font-family: sans-serif;
    margin-bottom: 12px ;
    font-weight: 15;
}
.course .course-col p
{
    font-size: 14px ;
    font-family: sans-serif;
    color: rgb(139, 135, 135);
}
.row .course-col:hover
{
box-shadow: 0px 0px 20px rgb(124, 122, 122);
}
.facility 
{
    width: 80%;
    margin: auto;
    height: 500px;
}
.facility h1
{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px ;
}
.facility >p
{
    text-align: center;
    font-size: 13px;
    color: rgb(111, 107, 107);
    margin-bottom: 50px ;
}
.facility .row
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.facility .row .facility-col 
{
    width: 300px;
    height: 350px;
    overflow: hidden;
    position: relative;
    /* background-color: aquamarine; */
}
.facility .row .facility-col img
{
    width: 100%;
}
.facility .row .facility-col h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 15;
    margin-top: 10px ;
    margin-bottom: 10px;
}
.facility .row .facility-col p
{
    font-size: 12px ;
    color: gray;
}
.about
{
    width: 80%;
    margin: auto;
    height: 180px;   
}
.about h2
{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    /* margin-bottom: 10px ; */
    margin-top: 80px;
}
.about >p
{
    font-size: 12px;
    word-spacing: 1px;
    letter-spacing: .30px;
    color: rgb(111, 107, 107);
    margin-bottom: 50px ;
    width: 550px;
    text-align: center;
    margin: auto;
    padding-top: 15px ;
}
.about .icons
{
    margin: auto;
    /* background-color: rgb(162, 131, 131); */
    width: 200px ;
    padding-left: 5px ;
    padding-top: 18px ;
    font-size: 20px ;
}
.about .icons i
{
    color: rgb(203, 75, 53);
    margin-left: 20px ;
}
.about .para i
{
    color: rgb(203, 75, 53);
}



@media (min-width:700px) and (max-width:1280px)
{
    .facility h1
    {
        margin-top: 120px ;
    }
    .facility .row .facility-col 
    {
        width: 180px;
    }
    .facility
    {
        height: 400px ;
    }

}



@media (min-width:250px) and (max-width:700px)
{
    body
    {
        overflow-x: hidden;
    }
    .header
    {
        width: 100%;
        margin: auto;
        
    }
 .navbar .menubar
    {
        visibility: hidden;
        /* width: auto; */
    }
    .textbox h1
    {
        font-size: 30px;
        margin-top: 60px ;
    }
    .textbox p
    {
        font-size: 15px;
        margin-top: 20px ;
        padding: 0px;
    }
    .course .row
    {
        display: block;
    }
    .course .row .course-col
    {
        margin-bottom: 30px ;
        margin-left: 0px;
    }
    .facility
    {
        margin-top: 400px;
    }
    .facility .row
    {
        display: block;
    }
    .facility .row .facility-col
    {
        margin: auto;
    }
    .about
    {
        margin: auto;
        margin-top: 730px;
    }
    .about p
    {
        width: 300px;
    }
}